@layer base, utilities;

* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

#root {
  background: transparent;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  overscroll-behavior: none !important;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--ui-text-base);
  overflow: hidden;
  overscroll-behavior: none !important;
  background: transparent;
}

@layer base {
  * {
    border-color: var(--border);
  }
}

input,
textarea,
select,
button {
  font-family: inherit;
}

textarea {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none !important;
}

[class*="overflow-auto"],
.overflow-auto {
  overflow: auto !important;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none !important;
}
